# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
dist/
build/
coverage/

# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Persistent volumes & caches
pgdata/
promdata/
grafanadata/
.turbo
.parcel-cache
.eslintcache

# Playwright Test Artifacts
test-results/
playwright-report/
blob-report/
playwright/.cache/

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
